.betting-settings {
  width: 300px;
  height: 650px;
  background-color: #2c2f30;
  padding: 20px;
  font-weight: bolder;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2)
  color: #fff;
}



label {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
  color: #b5b5b5; 
}


#total-payout {;
  margin-top: 2px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #353c3d; 
  border: 2px solid #3b444b; 
  color: #fff;
  padding: 10px;
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1)
}

#total-payout:hover {
  border: 2px solid #515c5f;
}

.input-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 165px;
  padding: 9px;
  border: 2px solid #3b444b; 
  border-radius: 4px;
  background-color: #353c3d; 
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1)
}

select {
  width: 100%;
  padding: 9px;
  margin-bottom: 20px;
  border: 2px solid #3b444b; 
  border-radius: 4px;
  background-color: #353c3d; 
  color: #fff;
  font-size: 16px;
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1)
}

input[type="number"]:hover{
  border: 2px solid #515c5f; 
}

input[type="number"]:focus{
  outline: none;
  border: 2px solid #515c5f; 
}

select:hover {
  border: 2px solid #515c5f;
}

select:focus {
  outline: none;
  border: 2px solid #515c5f;
}