button {
  width: 20%;
  padding: 13px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

button.disabled {
  pointer-events: none;
  opacity: 0.6; 
}

button.disabled:hover,
button.disabled:active {
  background-color: initial;
  transform: none;
}

#halve-bet, #double-bet {
  padding: 10px 15px;
  background-color: #3b444b;
  color: #fff;
}

#halve-bet:hover, #double-bet:hover {
  background-color: #414a4c; 
  scale: 1.05;
}

#halve-bet:active, #double-bet:active {
  background-color: #414a4c; 
  scale: 1;
}

.bet-button {
  width: 100%;
  background-color: rgb(0, 231, 1); 
  color: rgb(5, 8, 10);
  padding: 15px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  font-weight: 600;
}

.bet-button:hover {
  background-color: rgb(0, 321, 1); 
}

.bet-button:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  button {
    width: 30%;
  }
}
