
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 33, 36);
    height: 50vh;
    width: 100vh;
    max-width: 900px;
    min-height: 650px;
    padding: 20px;
}

.present-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5vw;
    justify-self: center;
    height: 90%;
    width: 70%;
}

.present {
    border-radius: 10px;
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    max-width: 115px;
    max-height: 115px;
    background: none;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/present.png");
}

.present:hover {
    transform: scale(1.1);
}

.present:active {
    transform: scale(1);
}

@keyframes hide {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes reveal {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.present.hide {
    animation: hide 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.present.reveal {
    animation: reveal 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.present.presented:hover,
.present.presented.hide, .present.presented.reveal {
    cursor: default;
    transform: none;
    animation: none;
}

@media (max-width: 768px) {
    .game-container {
        min-height: auto;
        width: calc(100% - 40px); 
    }

    .present-container {
        width: 90%;
        height: 90%;
    }

    .present {
        width: 80%;
        height: 100%;
    }
}
