.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e; 
    height: 650px;
    width: 900px;
    padding: 20px;
}

.mines-container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px); 
    gap: 25px;
    justify-self: center;
}

.mine {
    border-radius: 10px;
    background-color: rgb(47, 69, 83);
    width: 110px;
    height: 110px;
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 5px solid rgb(23, 33, 40); 
}

.mine:hover {
    transform: translateY(-5px); 
    z-index: 1; 
    background-color: rgb(85, 112, 134);
}

.mine:active {
    transform: translateY(0);
}
