.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 33, 36); 
    height: 650px;
    width: 900px;
    padding: 20px;
}

.present-container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px); 
    gap: 30px;
    justify-self: center;
}

.present {
    border-radius: 10px;
    width: 115px;
    height: 115px;
    background: none;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/present.png");
}

.present:hover {
    transform: translateY(-5px); 
}

.present:active {
    transform: translateY(0px); 
}

@keyframes hide {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes reveal {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.present.hide {
    animation: hide 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.present.reveal {
    animation: reveal 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.present.presented:hover,
.present.presented.hide, .present.presented.reveal {
    cursor: default;
    transform: none;
    animation: none;
}