html, body {
    margin: 0;
    padding: 0;
    font-family: 'proxima-nova', sans-serif;
    background-color: #232b2b;
}

.bet-button {
    margin: 5px;
    align-items: center;
    appearance: none;
    background-color: rgb(0, 231, 1);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
    box-sizing: border-box;
    color: rgb(5, 8, 10);
    cursor: pointer;
    display: flex;
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    justify-content: center;
    padding: 18px 28px;
    text-align: center;
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    width: 276px;
}

.bet-button:hover {
    background-color: rgb(0, 321, 1);
}

.bet-button:active {
    transform: scale(0.95);
}
